 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 body {
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     background-color: rgba(82, 70, 184, 0.473);
 }

 .navbar {
     background-color: rgb(235, 235, 235);
     box-shadow: 0 2px 4px rgba(208, 255, 0, 0.3);
     position: sticky;
     top: 0;
     z-index: 1000;


 }

 .nav-container {
     display: flex;
     justify-content: space-between;
     align-items: center;
     flex-wrap: wrap;
     padding: 16px 32px;
     max-width: 1000px;
     margin: 0 auto;


 }

 .nav-menu {
     display: flex;
     flex-wrap: wrap;
     gap: 20px;
     list-style: none;

 }

 .nav-logo img {
     width: 200px;
     height: auto;

 }

 .nav-link {
     color: rgb(3, 25, 221);
     text-decoration: double;
     font-size: 14pt;
     font-weight: 500;
     padding: 8px 16px;
     border-radius: 10px;
 }

 .nav-link:hover {
     color: black;
 }

 @media screen and (max-width: 700px) {
     .nav-container {
         flex-direction: column;
         align-items: flex-start;
         padding: 16PX;

     }

     .nav-logo img {
         height: auto;
        
     }
     .nav-link {
         width: 10px;
     }

    }